{% extends 'base.html.twig' %}

{% block title %}Edit Chaton{% endblock %}

{% block body %}
    <h1>Edit Chaton</h1>

    {{ include('chatons/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chatons_index') }}">back to list</a>

    {{ include('chatons/_delete_form.html.twig') }}
{% endblock %}
