{% extends 'base.html.twig' %}

{% block title %}New Chaton{% endblock %}

{% block body %}
    <h1>Create new Chaton</h1>

    {{ include('chatons/_form.html.twig') }}

    <a href="{{ path('app_chatons_index') }}" class="btn btn-warning">back to list</a>
{% endblock %}
